:root {
  --main-background-color: #78909c;
  --secondary-background-color: #b0bec5;
  --primary-text-color: #eceff1;
  --secondary-text-color: #78909c;
  --button-background-color: #eceff1;
  --button-hover-background-color: #78909c;
  --button-hover-text-color: #eceff1;
}

body {
  background-color: var(--main-background-color);
  text-align: center;
  color: var(--primary-text-color);
  font-family: Roboto;
}

.link a {
  text-decoration: none;
}

.link button {
  border-radius: 25%;
  width: 150px;
  height: 150px;
  background-color: var(--button-background-color);
  padding: 1.5em;
  margin: 10px;
  color: var(--secondary-text-color);
}

.link a:hover button {
  color: var(--button-hover-text-color);
  background-color: var(--button-hover-background-color);
}

img {
  width: 80px;
  height: 80px;
}

@media (min-width: 600px) {
  .box {
    padding: 1.5em;
    width: 450px;
    height: 750px;
    background-color: var(--secondary-background-color);
    border-radius: 50px;
    margin: auto;
  }
}

@media (max-width: 1200px) {
  body {
    background-color: var(--secondary-background-color);
  }
}

.profile {
  margin: 10px;
  border-radius: 50%;
  width: 250px;
  height: 250px;
}

.return a {
  text-decoration: none;
}

.return h1 {
  color: var(--primary-text-color);
}
